body{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main img{
    width: 400px;
}

main p{
    font-size: large;
}